#sketch-area {
    display: flex;
    flex-wrap:wrap;
    margin: 100px auto;
    border: whitesmoke solid 1px;
    width: 600px;
    height: 600px;
    background-color: white;
    box-shadow: 10px 10px rgba(0,170,255,0.034);
}


.box {border: whitesmoke solid 1px;
    box-sizing: border-box;
   } /**actual width and height**/

h1 {
    text-align:center;
    color: rosybrown;
    font-size: 40px;
}

body {
    background-color:lavenderblush;
}

#new-grid { 
    display: flex;
    margin:auto;
    border-radius: 8px;
    padding: 5px 10px;
    color: lavenderblush;
    background-color: rosybrown;
    border-color: whitesmoke;
    }