#sketch-area {
    display: flex;
    flex-wrap:wrap;
    margin: auto;
    border: whitesmoke solid 1px;
    width: 600px;
    height: 600px;
    background-color: white;
    box-shadow: 10px 10px rgba(0,170,255,0.034);
    margin-bottom: 10px;
}


.box {border: whitesmoke solid 1px;
    box-sizing: border-box;
   } /**actual width and height**/

h1 {
    text-align:center;
    color: rosybrown;
    font-size: 40px;
    width: 600px;
    margin:auto;
}

body {
    background-color:lavenderblush;
}

#button-menu {
    display: flex;
    justify-content: space-between;
    width:600px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button  {
    border-radius: 8px;
    color: lavenderblush;
    background-color: rosybrown;
    border-color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
}

.button:hover {
    opacity: 0.5

}

input {
    background-color: rosybrown;
    border: none;

}


.slider {
    -webkit-appearance: none;
    width: 600px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: auto;
    margin-bottom: 10px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rosybrown;
    cursor: pointer;
  }

  #slider-container {
    width: 600px;
    margin: auto;
  }

  p {
    color:rosybrown;
    font-size: 20px;
    font-weight: bold;
    margin:auto;
  }